#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../assets/vladimir-proskurovskiy-da6jcki6tti-unsplash-compressed_uIVXwQkh.jpg');
    background-size: cover;
}