#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1557618159-7d6fe547ae20?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80-proskurovskiy-da6jcki6tti-unsplash-compressed_uIVXwQkh.jpg');
    background-size: cover;
    padding: 0 50px;
}