@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Quicksand&display=swap');

#root {
    font-family: 'Quicksand', sans-serif;
}

.PasswordGeneratorHeader {
    text-transform: uppercase;
    font-weight: 300;
}